.navbar-default {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #dfdfdf 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #dfdfdf 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffdfdfdf', GradientType=0);
}
#logo {
  margin-right: 15px;
  height: 70px;
  width: 70px;
}
.navbars {
  padding-bottom: 45px;
}
.navbar-banner {
  padding-bottom: 100px;
}

body {
  background-color: #343a40;
}

.main {
  text-align: center;
  color: white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

tr:nth-child(odd) {
  background-color: white;
}
